/* App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.form {
  background: rgba(19, 35, 47, 0.9);
}

.field-wrap label {
  transition: all 0.25s ease;
}

.field-wrap label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
  color: white;
}

.field-wrap label.highlight {
  color: white;
}
body{
  background-color:#111827;
}
